# Apache configuration override - treats files as directories,
# turns off PHP register_globals directive, turns off PHP safe_mode

# If using multiple languages in website use directive at following line
#Options +Indexes +FollowSymlinks +Multiviews


# Prevent viewing of .htaccess and all php files, except index and api
<Files ~ ".htaccess|.php">
    Order Deny,Allow 
    Deny from all
</Files>
<Files ~ "index.php|api.php">
    Order Deny,Allow 
    Allow from all
</Files>


# Prevent directory listings
Options All -Indexes


#<Files ~ "controls|models|views">
#    <Limit GET POST PUT>
#        Order Allow,Deny
#        Deny from all
#    </Limit>
#</Files>


# Caching schema
<FilesMatch "\.(jpg|png|gif|css|js)$">
    Header set Cache-Control "public, max-age=3600"
</FilesMatch>